$primary: #2baaed;
$secondary: #d0dae2;

$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': #57c40a,
        'danger': #f85032,
        'warning': #ffd700,
        'info': #00c9ff
);